/** @format */
.continer{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.inner_continer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.left_continer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    background-color: white;
}
.continer_text h1{
    font-weight: 600;
}
.continer_go{
width: 220px;
height: 150px;
}
.continer_go a{
color: whitesmoke;
font-size: 120%;
    font-weight: 700;
  text-decoration: none !important;

}
.go_inside{
    background-color: green;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
font-size: 120%;

}
.go_inside:hover{
    color: whitesmoke;
}
.right_continer{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    background-color: white;
}
.right_continer img{
    height: 100%;
    width: 100%;
}

.continer_button{
    width: 200px;
    height: 130px;
   background-color: whitesmoke;
   margin-right: 40px;
   border-radius: 15px;
  transition: transform 0.5s ease;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.4);

}
.continer_button:hover{
    transform: scale(1.09);

}
.continer_button a{
 text-decoration: none !important;
}
.inside_continer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}