/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;

  align-items: center;
}
.main_continer {
  width: 900px;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 30px;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
  
}
.crop_head {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
cursor: pointer;
}
.crop_head:hover{
    transform: scale(1.05);
}
.crop_img {
  width: 150px;
  height: 150px;
  padding: 20px;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  border: 1px solid black;
}
.crop_content {
  margin-top: 20px;
  margin-left: 70px;
  padding-top: 10px;
  color: black;
}
.crop_content label {
  color: green;
  margin-right: 10px;
}
.crop_content h2,
h3,
h4 {
  padding-top: 5px;
}
.crop_description {
  margin: 10px;
}
.crop_description h3 {
  margin-bottom: 5px;
  padding: 5px;
  color: whitesmoke;
}
.crop_description p {
  padding: 5px;
  color: black;
  font-size: 15px;
}

.crop_fertilizer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.org_fertilizer {
  margin-left: 20px;
  width: 400px;
  height: 500px;
  background-color: chocolate;
  border-radius: 10px;
  opacity: 0.8;
  padding: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.chemical_fertilizer {
  margin-right: 20px;
  height: 500px;
  width: 400px;
  background-color: cadetblue;
  border-radius: 10px;
  opacity: 0.8;
  padding: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.org_fertilizer:hover {
  opacity: 1;
  transform: scale(1.05);
}
.chemical_fertilizer:hover {
  opacity: 1;
  transform: scale(1.05);
}
.crop_price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.atc_price {
  width: 250px;
  height: 150px;
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  transition: transform 0.5s ease;
  opacity: 0.8;
  font-family: "Lobster", cursive;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.est_price {
  width: 250px;
  height: 150px;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  transition: transform 0.5s ease;
  opacity: 0.8;
  font-family: "Lobster", cursive;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.atc_price:hover {
  opacity: 1;
  transform: scale(1.05);
}
.est_price:hover {
  opacity: 1;
  transform: scale(1.05);
}
.atc_price h3 {
  margin-left: 50px;
}
.est_price h3 {
  margin-left: 50px;
}
.atc_price h1 {
  margin-left: 50px;
  margin-top: 30px;
}
.est_price h1 {
  margin-left: 50px;
  margin-top: 30px;
}
