/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar {
  width: 100vw;
}
.main_continer {
  width: 900px;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 30px;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 18px 1px rgba(0, 0, 0, 0.75);
}
.crop_head {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.crop_img {
  width: 220px;
  height: 220px;
  padding: 20px;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 70px;
  margin-right: 70px;
  border: 1px solid black;
}
.crop_img img{
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}
.crop_content {
  margin-top: 20px;
  margin-left: 70px;
  padding-top: 10px;
  color: black;
}
.crop_content label {
  color: green;
  margin-right: 10px;
}
.crop_content h2,
h3,
h4 {
  margin-top: 0px;
}
.crop_description {
  margin: 10px;
}
.crop_description h3 {
  margin-bottom: 5px;
  padding: 5px;
  color: green;
}
.crop_description p {
  padding: 5px;
  color: black;
  font-size: 19px;
}

.crop_fertilizer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.org_fertilizer {
  margin-left: 20px;
  width: 400px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.chemical_fertilizer {
  margin-right: 20px;
  width: 400px;
  background-color: #f5f4f4;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.crop_mprice {
  display: flex;
  flex-direction: column;
}
.crop_price {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
