<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all_crop</title>
    <link rel="stylesheet" href="../static/css/all_crop.css" />

  </head>
  <body>
    {% include 'nav.html' %}
    <div class="crop_continer">
      {% for crop in crops %}
        <div class="crop">
        <div class="crop_head">
          <div class="crop_img">
           <img src={{crop[2]}}/>
          </div>
          <div class="crop_d">
            <h2>{{crop[1]}}</h2>
            <div class="crop_de">
            <h5>{{crop[7]}}</h5>
          <h5>{{crop[6]}}</h5>
          </div>
          </div>
        </div>
        <div class="crop_temp">
          <img src="https://img.icons8.com/android/24/000000/thermometer.png" />
          <h4>{{crop[5]}}°C</h4>
        </div>
        <div class="crop_bottom">
          <h3>₹ {{crop[10]}}/Kg</h3>
          <a href="/cropdec/{{crop[0]}}">see more info-></a>
        </div>
      </div>
       {% endfor %}
    </div>
  </body>
</html>
