<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/crop_decription.css" />
  </head>
  <body>
    <div class="main_continer">
      <div class="crop_head">
        <div class="crop_img">
          <img
            src="https://img.icons8.com/cotton/108/000000/sweet-carrot--v1.png"
          />
        </div>
        <div class="crop_content">
          <h2><label>Crop-name:</label>Ragi</h2>
          <h3><label>Duration:</label>8 months</h3>
          <h3><label>Region:</label>costal of karnataka</h3>
          <h3><label>Tempereture:</label>24°c to 34°c</h3>
          <h3><label>Rainfall:</label>mediam</h3>
          <h3><label>Soil Type:</label>red Soil</h3>
        </div>
      </div>
      <div class="crop_description">
        <h3>Description:</h3>
        <p>
          Ragi may be grown as a hot weather crop, from May to September, using
          long duration varieties and as a cold season crop, from November and
          December, using early types. Ragi is monocropped in India under
          irrigation or transplantation. Rainfed it is mostly intercropped with
          cereals, castor bean, niger, groundnut and pulses. The most common
          subsidiary crops grown with ragi are fieldbean (Lablab purpureus),
          pigeon pea (Cajanus cajan), cowpea (Vigna sinensis), and niger
          (Guizotia abysinnica). With groundnuts, ragi is the subsidiary crop.
          Liberal manure, mainly sheep and cattle, is applied. Green manures
          such as cowpeas, sunnhemp, artificial manures and oil cakes, have been
          used on both irrigated and unirrigated crops. Ragi is chopped and
          weeded at intervals of 14 days or so. The number and frequency of
          irrigations varies with seasonal conditions.
        </p>
      </div>
      <div class="crop_fertilizer">
        <div class="org_fertilizer">
          <h2>organic fertilizer</h2>
        </div>
        <div class="chemical_fertilizer">
          <h2>chemical fertilizer</h2>
        </div>
      </div>
      <div class="crop_price">
        <div class="atc_price">
          <h3>Market Price:</h3>
          <h1>rs 30/Kg</h1>
        </div>
        <div class="est_price">
          <h3>Estimated Price:</h3>
          <h1>rs 30/Kg</h1>
        </div>
      </div>
    </div>
  </body>
</html>
