<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <p>Username:</p>
      <p><input type="text" name="name" /></p>
      <p><input type="submit" name="button" value="1" /></p>
      <p><input type="submit" name="button" value="2" /></p>
      <p><input type="submit" name="button" value="3" /></p>
      <p><input type="submit" name="button" value="4" /></p>
      <p><input type="submit" name="button" value="5" /></p>
    </form>
  </body>
</html>
